body {
  	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

*{
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

.clockStyle {
	font-size: 130px;
	padding-top: 150px;
	padding-bottom: 30px;
}

#button{
	font-size: 30px;

	border: 3px white solid;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;

    -webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;  
}

#button:hover{
	font-size: 31px;
	color: black;
	border-color: black;
}

#button:active{
	font-size: 32px;
}

#max{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	font-size: 17px;
}

@media (max-width: 800px) {
	.clockstyle{
		font-size: 100px;
	}

	#button{
		padding: 10px;
    	padding-right: 20px;
    	padding-left: 20px;
    	font-size: 20px;
	}

	#button:hover{
		font-size: 21px;
	}

	#button:active{
		font-size: 22px;
	}
}

@media (max-width: 500px) {
	.clockstyle{
		font-size: 80px;
	}
}

@media (max-width: 350px) {
	.clockstyle{
		font-size: 65px;
	}

	#button{
		padding: 9px;
    	padding-right: 18px;
    	padding-left: 16px;
    	font-size: 16px;
	}

	#button:hover{
		font-size: 17px;
	}

	#button:active{
		font-size: 18px;
	}
}

@media (max-height: 500px){
	.clockstyle{
		padding-top: 100px;
	}
}

@media (max-height: 400px){
	.clockstyle{
		padding-top: 50px;
	}
}

@media (max-height: 300px){
	.clockstyle{
		padding-top: 	0px;
	}
}
